policy_module(cephalon, 1.100.1)

########################################
#
# Declarations
#

type cephalon_t;
type cephalon_exec_t;
init_daemon_domain(cephalon_t, cephalon_exec_t)

permissive cephalon_t;

type cephalon_initrc_exec_t;
init_script_file(cephalon_initrc_exec_t)

type cephalon_conf_t;
files_type(cephalon_conf_t)

type cephalon_var_lib_t;
files_type(cephalon_var_lib_t)

type cephalon_var_run_t;
files_type(cephalon_var_run_t)

type cephalon_port_t;
corenet_port(cephalon_port_t)

########################################
#
# cephalon local policy
#
allow cephalon_t self:process { fork };

allow cephalon_t self:fifo_file rw_fifo_file_perms;
allow cephalon_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(cephalon_t, cephalon_conf_t, cephalon_conf_t)
manage_files_pattern(cephalon_t, cephalon_conf_t, cephalon_conf_t)

manage_dirs_pattern(cephalon_t, cephalon_var_lib_t, cephalon_var_lib_t)
manage_files_pattern(cephalon_t, cephalon_var_lib_t, cephalon_var_lib_t)
files_var_lib_filetrans(cephalon_t, cephalon_var_lib_t, { dir file })

manage_dirs_pattern(cephalon_t, cephalon_var_run_t, cephalon_var_run_t)
manage_files_pattern(cephalon_t, cephalon_var_run_t, cephalon_var_run_t)

sysnet_dns_name_resolve(cephalon_t)
corenet_all_recvfrom_unlabeled(cephalon_t)

allow cephalon_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(cephalon_t)
corenet_tcp_sendrecv_generic_node(cephalon_t)
corenet_tcp_sendrecv_all_ports(cephalon_t)
corenet_tcp_bind_generic_node(cephalon_t)

gen_require(`
    type cephalon_port_t;
')
allow cephalon_t cephalon_port_t:tcp_socket name_bind;

gen_require(`
    type cephalon_port_t;
')
allow cephalon_t cephalon_port_t:tcp_socket name_connect;

domain_use_interactive_fds(cephalon_t)

files_read_etc_files(cephalon_t)

miscfiles_read_localization(cephalon_t)

sysnet_dns_name_resolve(cephalon_t)

allow cephalon_t cephalon_exec_t:file execute_no_trans;
allow cephalon_t self:process setsched;
corecmd_exec_ls(cephalon_t)
corenet_tcp_connect_http_port(cephalon_t)
dev_read_urand(cephalon_t)
fs_getattr_xattr_fs(cephalon_t)
kernel_read_system_state(cephalon_t)
